button {
    color: white;
    background-color: black;
    text-align: center;
    height: 5vh;
    width: 15vh;
    margin: 1vh 0 0 4vh;
    transition: box-shadow 0.3s ease-in-out;
    }
  
  /*EdelgaseBtn */
  
  #edelgaseBtn {
    border: 0.3vh solid green;
    box-shadow: inset 0 0 0 0 green, 0 0 0 0 green;
  }
  
  #edelgaseBtn:hover {
    cursor: pointer;
    box-shadow: inset 0 0 6px 1px green, 0 0 3px 1px green;
    border: black;
  }
  /* Edelgase */

  td.element.edelgase {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: inset 0 0 0 0 green, 0 0 0 0 green;
  }
  
  td.element.edelgase:hover {
    position: absolute;
    box-shadow: inset 0 0 10px 1px green, 0 0 15px 1px green;
  }
  td.element.edelgase.highlightedel:hover {
    transition: transform 0.3s ease-in-out;
  }

/*HalogeneBtn */
  
#halogeneBtn {
    border: 0.3vh solid rgb(241, 241, 61);
    box-shadow: inset 0 0 0 0 rgb(241, 241, 61), 0 0 0 0 rgb(241, 241, 61);
  }
  
  #halogeneBtn:hover {
    cursor: pointer;
    box-shadow: inset 0 0 6px 1px rgb(241, 241, 61), 0 0 3px 1px rgb(241, 241, 61);
    border: black;
  }
  /* halogene */

  td.element.halogene {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: inset 0 0 0 0 rgb(241, 241, 61), 0 0 0 0 rgb(241, 241, 61);
  }
  
  td.element.halogene:hover {
    position: absolute;
    box-shadow: inset 0 0 10px 1px rgb(241, 241, 61), 0 0 15px 1px rgb(241, 241, 61);
  }
  td.element.halogene.highlighthalo:hover {
    transition: transform 0.13s ease-in-out;
  }
  
  