body {
  background-color: black;
  background: linear-gradient(
    hsl(0, 0%, 5%) 0%,
    hsl(0, 0%, 10%) 20%,
    hsl(0, 0%, 20%) 40%,
    hsl(0, 0%, 30%) 80%,
    hsl(0, 0%, 37%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.banner {
  color: white;
  text-align: center;
  height: 7vh;
}
h1 {
  margin: 2vh 0 0 0;
}
h2 {
  color: white;
  background-color: rgb(41, 41, 41);
  border: 0.5vh solid black;
  border-radius: 4px;
  text-align: center;
}
h4 {
  color: white;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
p {
  color: white;
  text-align: left;
  font-size: 1.2em;
  margin: 1vh;
}
.rahmen {
  position: fixed;
  margin: 0 20vh 1vh 20vh;
  padding: 0 1vh 0 1vh;
  width: auto;
  height: 80%;
  border: 0.3vh solid white;
  border-radius: 4px;
}
a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
}
.zumPSE {
  background-color: black;
  text-align: center;
  padding: 5vh 8vh;
  margin: 3vh 0 2vh 50vh;
  border: 0.2vh solid white;
  border-radius: 4px;
}
ol {
  color: white;
  font-size: 1.2em;
}
