body {
  background-color: hsl(0, 0%, 33%);
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: "Jersey 15", Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px black;
}

.banner {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  margin: 2vh;
  padding: 0;
}
h2 {
  font-size: 2rem;
  color: rgb(238, 238, 238);
  background-color: rgba(41, 41, 41, 0.808);
  border: 0.3vh solid rgb(78, 78, 78);
  border-radius: 4px;
  text-align: center;
  padding: 1vh;
  letter-spacing: 0.2vh;
}
h4 {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  margin: 1vh;
}
.rahmen {
  position: fixed;
  margin: 5vh 20vh 1vh 20vh;
  padding: 0 1vh 0 1vh;
  width: auto;
  height: 73%;
  border: 0.3vh solid white;
  border-radius: 4px;
  background-color: rgba(110, 110, 110, 0.274);
}
a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 0.2vh;
}
.zumPSE {
  background-color: rgba(41, 41, 41, 0.808);
  text-align: center;
  padding: 3vh 7vh;
  border: 0.2vh solid white;
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 80%;
}

.zumPSE:hover {
  color: rgb(155, 155, 155);
}
ol {
  color: white;
  font-size: 1.5rem;
}

.blurred-background {
  width: 100%;
  height: 100%;
  background-image: url(../Bilder/ownpse.PNG);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .menue {
    width: 90%;
    height: auto;
    position: relative;
    margin: 2vh auto;
  }

  h3,
  h4,
  p {
    font-size: 1em;
  }

  .whitemodeBtn,
  .zurückBtn {
    width: 80%;
    margin: 1vh auto;
    float: none;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  h3 {
    width: auto;
    left: 0;
    text-align: center;
  }

  .menue {
    width: 100%;
    padding: 1vh;
  }

  .whitemodeBtn,
  .zurückBtn {
    font-size: 1em;
    padding: 1vh;
  }
}
