.rahmen {
  position: fixed;
  margin: 0 2vh 1vh 25vh;
  padding: 0 1vh 0 1vh;
  height: 78vh;
  width: 141vh;
  border: 0.3vh solid white;
}
table {
  color: white;
  text-align: center;
  font-size: 1.2em;
  float: left;
}
table:hover {
  cursor: default;
}
.tr {
  width: 7.3vh;
  height: 5vh;
}
.element {
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  width: 7.3vh;
  height: 7.3vh;
  line-height: 7.3vh;
  box-shadow: 0 0 0.8vh rgba(170, 170, 170, 0.2);
  transition: transform 0.13s ease-in-out, box-shadow 0.3s ease-in-out;
}
.non-element {
  position: relative;
  width: 7.3vh;
  height: 7.3vh;
  line-height: 7.3vh;
}
.element:hover {
  transform: scale(1.5);
  z-index: 1;
  box-shadow: 0 0 3vh rgba(170, 170, 170, 0.4);
}
.Abstand {
  margin-top: 0.4vh;
}
.pic1 {
  margin: 0.6vh 0 0 3vh;
  height: 15vh;
  width: 25vh;
  border: 0.4vh solid black;
  border-radius: 0.3vh;
}
.dreieck {
  display: inline-block;
  width: 0vh;
  height: 0vh;
  
  border-top: 1vh solid transparent;
  border-right: 0vh solid transparent;
  border-bottom: 1vh solid transparent;
  border-left: 1vh solid rgb(248, 248, 248);
}