body {
  background-color: black;
  background: linear-gradient(
    hsl(0, 0%, 5%) 0%,
    hsl(0, 0%, 10%) 20%,
    hsl(0, 0%, 20%) 40%,
    hsl(0, 0%, 30%) 80%,
    hsl(0, 0%, 37%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
ul {
  position: fixed;
  margin: 0px 10px 10px 10px;
  width: 15vh;
  height: 70vh;
  color: white;
  border: 2px solid white;
}
.rahmen {
  position: fixed;
  margin: 0 20px 10px 220px;
  padding: 0 10px 0 10px;
  height: 70vh;
  width: 150vh;
  border: 2px solid white;
}
.banner {
  color: white;
  text-align: center;
}
table {
  color: white;
  text-align: center;
  font-size: 1.2em;
  float: left;
}
.tr {
  width: 50px;
  height: 5vh;
}
.element {
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  width: 6.3vh;
  height: 6.3vh;
  line-height: 6.3vh;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 8px rgba(170, 170, 170, 0.2);
}
.non-elemnts{
  position: relative;
  width: 6.3vh;
  height: 6.3vh;
  line-height: 6.3vh; 
}
.element:hover {
  transform: scale(1.5);
  z-index: 1;
  box-shadow: 0 0px 30px rgba(170, 170, 170, 0.4);
}
#box {
  width: 20vh;
  height: 20.05vh;
}
.hg2{
  margin-top: -20.05vh;
}
h3{
  position: relative;
  width: 20vh;
  height: 5vh;
  left: 3vh;
  top: 1vh;
  color: white;
  font-size: 1.2em;
}