body {
  background-color: black;
  background: linear-gradient(
    hsl(0, 0%, 5%) 0%,
    hsl(0, 0%, 10%) 20%,
    hsl(0, 0%, 20%) 40%,
    hsl(0, 0%, 30%) 80%,
    hsl(0, 0%, 37%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-family: "Arvo", Arial, Helvetica, sans-serif;
}

.menue {
  position: absolute;
  margin: 0 1vh 0 2vh;
  width: 23vh;
  height: 78vh;
  color: white;
  border: 0.3vh solid white;
  border-radius: 4px;
}

.banner {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 4vh;
}

h1 {
  font-size: 3em;
  margin: 3vh 0 0 0;
}

h3 {
  position: relative;
  width: 10vh;
  height: 3vh;
  left: 3vh;
  top: 1vh;
  color: white;
  font-size: 1.2em;
}
h3:hover {
  cursor: default;
}
h4 {
  color: white;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
a {
  color: rgb(168, 168, 168);
  text-decoration: none;
  top: -1vh;
}
p {
  color: white;
  text-align: left;
  font-size: 1.2em;
}

.whitemodeBtn {
  padding: 1.5vh 2vh;
  border: 0.3vh solid #1f1f1f;
  border-radius: 6px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
  position: fixed;
  float: right;
  top: 2vh;
  right: 2vh;
}
.whitemodeBtn:hover {
  color: rgb(155, 155, 155);
}
.zur端ckBtn {
  left: 2vh;
  top: 2vh;
  padding: 3vh 3vh;
  border: 0.3vh solid #1f1f1f;
  border-radius: 6px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
  position: fixed;
  overflow: hidden;
  font-weight: bold;
  float: left;
}
.zur端ckBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.zur端ckBtn:hover::after {
  transform: scale(4);
}
.zur端ckBtn:hover {
  border-color: #666666;
  background: #000000;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign svg {
  width: 17px;
}
.sign svg path {
  fill: white;
}
