body {
  background-color: black;
  background: linear-gradient(
    hsl(0, 0%, 5%) 0%,
    hsl(0, 0%, 10%) 20%,
    hsl(0, 0%, 20%) 40%,
    hsl(0, 0%, 30%) 80%,
    hsl(0, 0%, 37%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.menue {
  position: fixed;
  margin: 0px 1vh 1vh 1vh;
  width: 23vh;
  height: 78vh;
  color: white;
  border: 0.3vh solid white;
}
.banner {
  color: white;
  text-align: center;
  height: 7vh;
}
h3 {
  position: relative;
  width: 10vh;
  height: 3vh;
  left: 3vh;
  top: 1vh;
  color: white;
  font-size: 1.2em;
}
h3:hover {
  cursor: default;
}
h4 {
  color: white;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
/*Farben-Effekte*/

.Btn {
  color: white;
  background-color: black;
  text-align: center;
  height: 5vh;
  width: 15vh;
  margin-left: 4vh;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 green, 0 0 0 0 green;
}
.Btn:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 1px green, 0 0 10px 1px green;
  border: black;
}
.Btn:active {
}
.Btn:active:#edelgase {
  box-shadow: inset 0 0 10px 1px green, 0 0 15px 1px green;
}
.edelgaseBtn {
  border: 2px solid green;
}
#edelgase {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 green, 0 0 0 0 green;
}
#edelgase:hover {
  position: absolute;
  box-shadow: inset 0 0 10px 1px green, 0 0 15px 1px green;
}
#metalle:hover {
  background-color: blue;
}
#nichtMetalle:hover {
  background-color: red;
}
#halogene:hover {
  background-color: yellow;
}
