body {
  background-color: black;
  background: linear-gradient(
    hsl(0, 0%, 5%) 0%,
    hsl(0, 0%, 10%) 20%,
    hsl(0, 0%, 20%) 40%,
    hsl(0, 0%, 30%) 80%,
    hsl(0, 0%, 37%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.menue {
  position: fixed;
  margin: 0px 1vh 1vh 1vh;
  width: 23vh;
  height: 78vh;
  color: white;
  border: 0.3vh solid white;
}
.banner {
  color: white;
  text-align: center;
  height: 7vh;
}
h3 {
  position: relative;
  width: 10vh;
  height: 3vh;
  left: 3vh;
  top: 1vh;
  color: white;
  font-size: 1.2em;
}
h3:hover {
  cursor: default;
}
h4 {
  color: white;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
