.rahmen {
  position: fixed;
  margin: 0 2vh 1vh 25vh;
  padding: 0 1vh 0 1vh;
  height: 78vh;
  width: 141vh;
  border: 0.3vh solid white;
  border-radius: 4px;
}
table {
  color: white;
  text-align: center;
  font-size: 1.2em;
  float: left;
}
table:hover {
  cursor: default;
}
.tr {
  width: 7.3vh;
  height: 5vh;
}
.element {
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  width: 7.3vh;
  height: 7.3vh;
  line-height: 7.3vh;
  box-shadow: 0 0 0.8vh rgba(170, 170, 170, 0.2);
  transition: transform 0.13s ease-in-out, box-shadow 0.3s ease-in-out;
}
.element:hover .non-element {
  position: relative;
  width: 7.3vh;
  height: 7.3vh;
  line-height: 7.3vh;
}
.element:hover {
  transform: scale(1.5);
  z-index: 1;
  box-shadow: 0 0 3vh rgba(170, 170, 170, 0.4);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.Abstand {
  margin-top: 0.4vh;
}
.pic1 {
  background-image: url(../Bilder/backround.JPG);
  display: block;
  height: 40vh;
  width: 70vh;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
  background-repeat: no-repeat;
}
.pic2 {
  margin: 0.6vh 0 0 4vh;
  height: 15vh;
  width: 22vh;
  border-radius: 0.3vh;
  transform: rotateY("45");
}
.dreieck {
  display: inline-block;
  width: 0vh;
  height: 0vh;
  border-top: 0.7vh solid transparent;
  border-right: 0vh solid transparent;
  border-bottom: 0.7vh solid transparent;
  border-left: 0.7vh solid rgb(248, 248, 248);
}

.element .Ordnungszahl,
.element .Fullname,
.element .EN,
.element .Atommasse {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  height: 0;
  width: 0;
  overflow: hidden;
}

.element:hover .Ordnungszahl {
  position: absolute;
  bottom: 31%;
  left: 15%;
  font-size: 0.6em;
  color: white;
  visibility: visible;
  opacity: 1;
  height: auto;
  width: auto;
}

.element:hover .Fullname {
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 0.38em;
  color: white;
  visibility: visible;
  opacity: 1;
  height: auto;
  width: auto;
}

.element:hover .EN {
  position: absolute;
  bottom: 0%;
  left: 75%;
  font-size: 0.38em;
  color: white;
  visibility: visible;
  opacity: 1;
  height: auto;
  width: auto;
}

.element:hover .Atommasse {
  position: absolute;
  bottom: 30%;
  left: 64%;
  font-size: 0.38em;
  color: white;
  visibility: visible;
  opacity: 1;
  height: auto;
  width: auto;
}

/*Beispiel*/

.beispiel {
  font-size: 0.5em;
}

.element:hover .beispiel {
  font-size: 0.8em;
}

.element .OrdnungszahlBeispiel,
.element .OrdnungszahlBeispiel2,
.element .FullnameBeispiel,
.element .ENBeispiel,
.element .ENBeispiel2,
.element .AtommasseBeispiel,
.element .AtommasseBeispiel2 {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 0;
  width: 0;
  visibility: hidden;
}

.element:hover .OrdnungszahlBeispiel {
  position: absolute;
  bottom: 31%;
  left: 15%;
  font-size: 0.6em;
  color: white;
  opacity: 1;
  height: auto;
  width: auto;
  visibility: visible;
}

.element:hover .OrdnungszahlBeispiel2 {
  position: absolute;
  bottom: 20%;
  left: 16%;
  font-size: 0.6em;
  color: white;
  height: auto;
  width: auto;
  opacity: 1;
  visibility: visible;
}

.element:hover .FullnameBeispiel {
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 0.38em;
  color: white;
  height: auto;
  width: auto;
  opacity: 1;
  visibility: visible;
}

.element:hover .ENBeispiel {
  position: absolute;
  bottom: 3%;
  left: 75%;
  font-size: 0.38em;
  color: white;
  height: auto;
  width: auto;
  opacity: 1;
  visibility: visible;
}

.element:hover .ENBeispiel2 {
  position: absolute;
  top: 8%;
  left: 75%;
  font-size: 0.38em;
  color: white;
  height: auto;
  width: auto;
  opacity: 1;
  visibility: visible;
}

.element:hover .AtommasseBeispiel {
  position: absolute;
  bottom: 30%;
  left: 64%;
  font-size: 0.38em;
  color: white;
  height: auto;
  width: auto;
  opacity: 1;
  visibility: visible;
}

.element:hover .AtommasseBeispiel2 {
  position: absolute;
  bottom: 23%;
  left: 64%;
  font-size: 0.38em;
  color: white;
  height: auto;
  width: auto;
  opacity: 1;
  visibility: visible;
}
